[Desktop Entry]
Name=HanaDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/hanadesk;
TryExec=hanadesk
Exec=hanadesk %u
Icon=hanadesk
Terminal=false
Type=Application
StartupNotify=false